{% block content %}
    <section class="container">

        <div class="row text-center">
            <img src="/static/imgs/fileteizq.png" id="fileteizq" style="width:220px;height:90px">
            <a href="/home">
            <img src="/static/imgs/escarapela.png"
                 class="logo" style="padding-right:20px;padding-left:20px">
            </a>
            <img src="/static/imgs/fileteder.png" class="fileteder" style="width:220px;height:90px">
        </div>

    </section>
{% endblock %}

