{% extends "personal/template.html" %}

{% block content %}

<section class="container">
    <div class="row text-center" style="margin-top:10%">
        <p class="extracto" style="font-size: 18px;">
            Esta es una página dedicada a los compatriotas olvidadizos. Si sos como yo, que te olvidás cuando ponerte la
            escarapela, podés subscribirte a nuestras notificaciones. En cada fecha patria se va a mandar una
            notificacion a tu smartphone y a tu navegador.
        </p>

        <p class="instucciones" style="font-size: 18px;padding-top: 10px">
            Para comenzar a recibir las notificaciones sòlo tenes que entrar a esta pàgina desde la computadora o
            telefono, donde quieras recibirlas, y clickear en "Recordamelo!"
        </p>

    </div>
</section>

{% endblock %}

